body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #2B2B2B;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 0.5rem;
}

a span {
    color: #4E97CC;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0.5rem;
}

nav img {
    width: 70px;
    height: 70px;
    margin-right: -20px;
}

nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -20px;
}

#display {
    display: none;
    align-items: center;
    flex-direction: column;
}

#upgrade {
    padding: 0.8rem 1rem;
    border-radius: 15px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}

#upgrade:hover {
    background-color: rgba(255,255,255, 0.2);
}

.check-box {
	transform: scale(2);
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 30px;
    height: 15px;
    background: #bdc1c8;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
    padding: 0 2px;
}

input:checked[type="checkbox"] {
    background: #29b5a8;
}

input[type="checkbox"]::after {
    margin-top: 1.5px;
    margin-left: 2px;
    margin-right: 2px;
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 50%;
}

.dash {
    margin-top: 2rem;
    width: 300px;
    height: 0.1px;
    background-color: #E7EDF5;
}

.formulaires {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

form {
    width: 250px;
    display: flex;
    flex-direction: column;
}

form input {
    /* width: 250px; */
    margin-top: 1.5rem;
    padding: 0.5rem;
}

.btn-login {
    margin-top: 1rem;
    background-color: black;
    color: white;
    height: 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 3px;
    width: 90%;
    height: 2rem;
    background-color: #Efa74f;
    color: white;
    border-radius: 8px;
    margin: 0 0 0.5rem 0;
}